body{
    font-family: sans-serif ; /* cambio de letra */
    margin: 0; /* quito la margen */
   background-color: white; /* color pagina*/
}

a{ /* hipervinculos */
    text-decoration: none; /* quita el subrayado de los hipervinculos */
    color: #baa01e; /* color de la lestras de los hipervinculos */
    font-family: roboto; /* tipografia*/
}

.logo img{ /* logo */
    height: 150px; /* tamaño del logo de la empresa */
    margin-right: 10px; /* separa el logo de la imagen */
}

header{  /* cabecero*/
    display: flex; /* acomoda de forma horizontal los hipervinculos */
    height: 150px; /* altura del cabecero */
    background-color: white; /* color del cabecero */
    justify-content:space-between; /*ubica SPR en una squina y los hipervinculos en la otra esquina*/
    align-items: center; /* centra los hipervinculos */
    padding: 10px; /* separar los hipervinculos del borde */
    border-bottom: 1px solid #adadad; /* (linea) grosor de la linea*/
}

nav a{
    font-weight:600; /* negrita a los hipervinculos */
    padding-right: 23px; /* separar los hipervinculos */
    font-size: 23px; /* tamaño hipervinculos */
}

nav a:hover{ /* cursor pase por los hipervinculos cambia de color*/
    color: #003153;

}

.container { /* organizacion de las cajas que contienen texto, las pone una al lado de la otra*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.box {
    background-color: #adadad; /* Color de fondo */
    color: #003153; /* Color del texto */ 
    padding: 50px; /*largo de la caja*/
    margin: 20px;
    border-radius: 9px; /* bordeado de las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}